/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

section, .portfolio__thumb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container, .portfolio__thumb {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.center-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.modal-submit__btn, .subscribe-btn, .order-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: #2196f3;
}

.subscribe-btn, .portfolio_btn, .order-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header {
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.header__thumb {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.web-logo {
  color: #2196f3;
}

.footer-logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__list {
  display: flex;
  margin-left: 94px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
}

.contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .contact:hover,
.header-contacts .contact:focus {
  color: #2196f3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.order-button {
  color: #ffffff;
  padding: 10px 32px;
  cursor: pointer;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buttons-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 50px;
  list-style: none;
  gap: 8px;
}

.portfolio_btn {
  display: flex;
  padding: 6px 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio_btn:hover,
.portfolio_btn:focus {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  outline: transparent;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 28px;
}

.subscribe-btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__btn:hover .modal-close__icon,
.modal-close__btn:focus .modal-close__icon {
  fill: #2196f3;
}

.modal-submit__btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit__btn:hover,
.modal-submit__btn:focus {
  background-color: #188CE8;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list__item {
  position: relative;
  display: block;
  width: 370px;
}

.projects-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.projects-list__link:hover .projects-card__overflow,
.projects-list__link:focus .projects-card__overflow {
  transform: translateY(0);
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-card__img {
  display: block;
}

.projects-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-info__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}

.projects-info__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__thumb {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.address {
  display: block;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact-footer {
  margin-top: 9px;
  display: block;
}

.address .contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .contact-footer:hover,
.address .contact-footer:focus {
  color: #2196f3;
}

.join {
  margin-right: 93px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.join__list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__item {
  width: 44px;
  height: 44px;
}

.join__icon {
  fill: #ffffff;
}

.join__link:hover,
.join__link:focus {
  background-color: #2196f3;
  outline: transparent;
}

.subscribe-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-wrap {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=portfolio.css.map */