.contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-color;
    transition: color 250ms $cubic;
  }
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contacts .contact:hover,
  .header-contacts .contact:focus {
    color: $accent-color;
  }
  .header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
 