
  body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $primary-color;
    background-color: $white-elements;
  }
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;  
  }
  .center-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }