
  body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $primary-color;
    background-color: $white-elements;
  }
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
   .container {
    max-width: 480px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px; 

    @media screen and (min-width: $tablet) {
    max-width: 768px;
    }
    @media screen and (min-width: $desktop) {
    max-width: 1200px;
      } 
  }
  .center-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }