h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    margin: 0;
    padding: 0;

    border: none;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  img {
      padding: 0;
  }
  button {
    margin: 0;
    padding: 0;

    border: none;
  }