@mixin studio($color){
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $color;
}
@mixin flex-basis($gap, $num_items){
    flex-basis:calc((100% - $gap * ($num_items - 1))/$num_items);
}